html {
  background-image: linear-gradient(to bottom right, #CCEEFF, #FFDCFE);
  background-attachment: fixed;
  height: 100%;
  /* text-align: center; */
}

body {
  width: 600px;
  margin: 0px auto;
  padding: 5px;
  /* font-family: 'Ubuntu Mono', monospace; */
  font-family: 'Gentium Book Basic', serif;
  color: white;
}

header {
  margin: 0;
  padding: 0;
  position: relative;
  color: #444444;
}

header h1 {
  margin: 0;
  padding: 30px 0 0 0;
  font-size: 32px;
}

header p {
  margin: 0;
  padding: 0 0 0 20px;
  font-size: 14px;
  font-style: italic;
}

/* header img {
  position: absolute;
  right: 0;
  top: 0;
} */
nav ul {
  margin: 10px 0 0 0;
  padding: 5px 0px 5px 0;
  border-width: 0;
  /* position: fixed; */
  list-style-type: none;
  text-align: left;
  font-size: 16px;
}

nav li {
  margin: 3px 2px 3px 0px;
  padding: 5px 15px 5px 15px;
  border-width: 0;
  border-radius: 5px 5px 0 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: inline;
  cursor: pointer;
}

nav li.selected {
  background-color: rgba(0, 0, 0, 0.1);
  color: gray;
  font-weight: bold;
}

main {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 0 5px 5px 5px;
  overflow: auto;
}

article {
  margin: 15px;
  padding: 0;
  border-radius: 5px;
  border-width: 0;
  background: rgba(0, 0, 0, 0.3);
  overflow: auto;
}

article h2 {
  margin: 0px;
  padding: 5px 5px 5px 10px;
  border-radius: 5px 5px 0 0;
  background: rgba(0, 0, 0, 0.3);
  font-size: 19px;
}

div.date {
  text-align: right;
  position: relative;
  top: -15px;
  right: 5px;
  overflow: auto;
  /* font-style: italic; */
  font-size: 13px;
}

article h3 {
  padding-left: 10px;
  padding-bottom: 0;
  margin-bottom: 5px;
  color: #444444;
  font-size: 16px;
}

article p {
  margin: 0 0 10px 0;
  /* padding-top: 10px; */
  padding-left: 15px;
  padding-right: 15px;
  text-align: justify;
  font-size: 13px;
}

article p.error {
  margin: 0;
  padding: 10px;
  text-align: justify;
  color: darkred;
}

article p.author {
  text-align: right;
  font-style: italic;
}

article img.vignette {
  width: 200px;
  padding: 0 10px 10px 10px;
  float: right;
}

article ul, article li {
  text-align: left;
  padding: 0px 0px 0px 10px;
  margin: 0px 0px 0px 0px;
}

article ul.inline {
  /* margin: 10px 0 0 0; */
  /* padding: 5px 0px 5px 0; */
  /* border-width: 0; */
  /* position: fixed; */
  list-style-type: none;
  text-align: center;
  /* font-size: 16px; */
}

article ul.inline li {
  display: inline;
  /* text-align: center; */
  /* padding: 0px 0px 0px 10px; */
  /* margin: 0px 0px 0px 0px; */
}

a:link {
  color: #444444;
}

a:visited {
  color: #444444;
}

a:hover {
  color: #BBBBBB;
}

a:active {
  color: #BBBBBB;
}

footer {
  text-align: center;
}

footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

footer li {
  display: inline;
  padding: 2px;
}

/* footer img:hover {
  height: 30px;
  border-color: blue;
  border-width: 2px;
  border-style: double;
} */
svg :hover {
  fill: red;
}

.footer {
  /* display: inline-block; */
  /* background: url("img/linkedin-logo.svg"); */
  /* background-size: 24px; */
  width: 24px;
  height: 24px;
}

@media screen and (max-device-width: 480px) {
  body {
    -webkit-text-size-adjust: none;
    width: 100%;
  }

  nav ul {
    /* margin: 10px 0 0 0; */
    /* padding: 5px 0px 5px 0; */
    /* border-width: 0; */
    /* position: fixed; */
    /* list-style-type: none; */
    /* text-align: left; */
    font-size: 12px;
  }

  article img.vignette {
    float: none;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* width: 200px; */
    /* margin: 0 15% 0 15%; */
    /* margin-left: auto;
    margin-right: auto; */
    /* align-self: center; */
    padding: 0 0 0 0;
    /* float: none; */
    /* padding: 0; */
    /* align-items: center; */
    /* align-self: center; */
    /* margin: auto; */
    /* padding: auto; */
    /* float: left; */
  }
}