html {
  background-color: #eee8d5;
}

body {
  /* font-family: 'Gentium Book Basic', serif; */
  font-family: 'Overlock', cursive;
  color: #black;
}

header {
  font-family: 'Fredericka the Great', cursive;
  color: #002b36;
}

nav ul {
  /* background-color: blue; */
}

nav li {
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

nav li.selected {
  background-color: #073642;
  color: #586e75;
}

main {
  background: #073642;
}

article {
  background: #fdf6e3;
}

article h2 {
  background: rgba(0, 0, 0, 0.3);
}

article h3 {
  color: #444444;
}

article p.error {
  color: darkred;
}

a:link {
  color: #444444;
}

a:visited {
  color: #444444;
}

a:hover {
  color: #BBBBBB;
}

a:active {
  color: #BBBBBB;
}