html {
  background-image: linear-gradient(to bottom right, #FEDCBA, #ABCDEF);
  background-attachment: fixed;
  height: 100%;
}

body {
  width: 600px;
  margin: auto;
  /* font-family: 'Ubuntu Mono', monospace; */
  font-family: 'Gentium Book Basic', serif;
  color: white;
}

header {
  height: 80px;
  position: relative;
  color: #444444;
}

header h1 {
  margin: 0;
  padding: 0;
  padding-top: 30px;
}

header p {
  margin: 0;
  padding-left: 20px;
  font-size: 80%;
  font-style: italic;
}

header img {
  position: absolute;
  right: 0px;
  top: 0;
}

nav {
  background: rgba(0, 0, 90, 0.4);
  margin: 10px 0 10px 0;
  border-radius: 5px;
  /* position: fixed; */
}

nav ul {
  list-style-type: none;
  text-align: center;
  padding: 5px 0 5px;
  margin: 0;
}

nav li {
  padding: 0 10px 0 10px;
  margin: 0;
  /* margin: 0 10px 0 10px; */
  display: inline;
  cursor: pointer;
}

main {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: auto;
}

article {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  font-size: 80%;
  overflow: auto;
  margin: 15px;
  /* margin-top: 10px;
  margin-bottom: 10px; */
}

article h2 {
  border-radius: 5px 5px 0 0;
  background: rgba(0, 0, 0, 0.3);
  margin: 0px;
  padding: 5px;
  padding-left: 10px;
}

div.date {
  /* float: right; */
  font-size: 85%;
  /* font-style: italic; */
  text-align: right;
  position: relative;
  top: -15px;
  right: 5px;
  overflow: auto;
}

article h3 {
  padding-left: 10px;
  padding-bottom: 0;
  margin-bottom: 5px;
  color: #444444;
}

article p {
  margin: 0 0 10px 0;
  /* padding-top: 10px; */
  padding-left: 15px;
  padding-right: 10px;
  text-align: justify;
}

article p.error {
  margin: 0;
  padding: 10px;
  text-align: justify;
  color: darkred;
}

article p.author {
  text-align: right;
  font-style: italic;
}

article img {
  width: 200px;
  padding: 0 10px 10px;
  float: right;
}

article ul, li {
  text-align: left;
  padding: 0px 0px 0px 10px;
  /* padding-left: 20px; */
  margin: 0px 0px 0px 10px;
}

a:link {
  color: #444444;
}

a:visited {
  color: #444444;
}

a:hover {
  color: #AAAAAA;
}

a:active {
  color: #BBBBBB;
}

footer {
  text-align: center;
}